.header {
  grid-area: header; }

.body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #faebd7; }

.main__imgPortada {
  display: grid;
  max-width: 100%;
  min-width: 320px;
  margin: auto; }
  .main__imgPortada img {
    width: 100%; }

.main__secciones {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main__subtitulo {
  text-align: center;
  margin: 20px;
  padding: 10px; }

.main__texto {
  margin: 10px;
  padding: 10px; }

.main__div {
  display: flex;
  border-style: inherit;
  flex-direction: column;
  align-items: center; }

.main__video {
  margin: 20px;
  position: relative;
  overflow: hidden; }

.main__btn {
  display: grid;
  margin: 50px;
  padding: 10px;
  justify-content: center; }
  .main__btn a {
    text-decoration: none;
    color: antiquewhite; }
    .main__btn a:hover {
      font-weight: 1000;
      color: #2d3033; }

.footer {
  display: grid;
  height: 208px;
  width: 100%;
  background-color: #2d3033; }
  .footer span {
    margin: 10px;
    padding: 5px; }
  .footer__form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3033; }
    .footer__form input {
      margin: 5px; }
  .footer__ul {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #2d3033; }
    .footer__ul li {
      margin: 20px; }

@media (max-width: 480px) {
  .main__imgPortada img {
    display: none; }
  .footer__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .main__video iframe {
    width: 100%;
    height: 100%; } }
