@import './secciones/header';
@import './secciones/body';
@import './secciones/main';
@import './secciones/footer';


@media (max-width: 480px) {
    .main__imgPortada img {
        display: none;
    }
    .footer__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main__video iframe {
        width: 100%;
        height: 100%;
    }
}